body {
	font-family: $font-stack;
}

a,
a:hover,
a:visited,
.sitefooter a:hover
{
	color: $dark-color;
}

a:hover
{
	text-decoration: none;
	color: white;
}

.text-xl {
	font-size: 3em;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.1;
}
.text-xxl {
	font-size: 5em;
	font-size: 5rem;
	font-weight: bold;
	line-height: 1.1;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.text-xl {
		font-size: 5em;
		font-size: 5rem;
	}
	.text-xxl {
		font-size: 10em;
		font-size: 10rem;
	}
}

/* breadcrumbs */

.breadcrumb {
	background-color: $light-color;
}



